.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.header{
    flex: 15%;
}
.menu{
 flex: 5%;
}
.content{
flex: 70%;
}
.footer{
flex: 10%;
}


.f1 {
  color: red;
margin-top: 18pt;
margin-bottom: 12pt;
Font-size: 20px;
font-weight: bold;
font-family: Arial;
}
.f2
{
color: black;
margin-top: 6pt;
margin-bottom: 6pt;
font-size: 15px;
font-style: normal;
font-family: Arial;
}
