.f1 {
  color: red;
margin-top: 18pt;
margin-bottom: 12pt;
Font-size: 20px)
font-weight: bold;
font-family: Arial;
}
.f2
{
color: black;
margin-top: 6pt;
margin-bottom: 6pt;
font-size: 15px;
font-style: normal;
font-family: Arial;
}
<html>
  <head>
    <p>BÀI TẬP</p>
    <ol>
      <li> <a href="gioithieu.html" target="_blank">Giới thiệu </a> </li>
      <li> <a href="tkb.html" target="_blank"> Thời khóa biểu</a></li>
      <li> <a href="tinhoc12.html" target="_blank"> Chương trình tin học</a></li>
      <li> <a href="Nghenghiep.html" target="_blank">Giới thiệu nghề nghiệp</a> </li>
    </ol>
         Tài liệu
        <li> <a href="https://www.w3schools.com/">w3bschool</a></li>
        <li> <a href="https://www.hoc10.vn/">hoc10vn</a></li>
        <td>
       </ol>
  </head>
</html>
