.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.header{
    flex: 10%;
    background-color: lightgray;
}
.menu{
 flex: 5%;
    background-color: gray;
}
}
.content iframe{
    flex:1;
    border: none;
    width: 100%;
    height: 100%;
}
}
.footer{
flex: 75%;
    background-color: lightgray;
}


.f1 {
  color: red;
margin-top: 18pt;
margin-bottom: 12pt;
Font-size: 20px;
font-weight: bold;
font-family: Arial;
}
.f2
{
color: black;
margin-top: 6pt;
margin-bottom: 6pt;
font-size: 15px;
font-style: normal;
font-family: Arial;
}
